<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShadowMUD.Properties.Settings.shadowdbConnectionString" connectionString="Data Source=TERRAPIN\SHADOWMUD;Initial Catalog=shadowdb;Persist Security Info=True;User ID=shadowmud;Password=testpass" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
